#contact-submit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}
.divcontactgauche, 
.divcontactgauche form, 
.contactforminput {
    display: flex;
    flex-direction: column;
}
.divcontactgauche {
    flex: 0 1 40%;
}
.contactforminput, 
.contactforminput input {
    align-items: flex-start;
    font-size: 1.2em;
}
.contactformelement {
    margin-bottom: 2%;
}
.divcontactgauche form textarea {
    font-size: 1.2em;
}
@media screen and (max-width: 1200px){
    .divcontactgauche {
        margin-bottom: 10%;
    }
}

@media screen and (max-width: 570px){
    .divcontactgauche {
        margin-bottom: 10%;
    }
    .divcontactgauche form textarea {
        font-size: 0.8em;
    }
    .contactformelement {
        margin-bottom: 7%;
    }
}