.background {
    background-color: #151515 ;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    padding: 2%;
    border-radius: 15px;

}

h1 {
    font-size: 2em;
    text-align: center;
    color: var(--primary-color);
}

h2 {
    font-size: 2em;
    margin-bottom: 4%;
    margin-top: 4%;
    color: var(--primary-color);

}

h3 {
    font-size: 1.5em;
    margin-bottom: 1%;
    color: var(--primary-color);

}
p {
    margin-bottom: 5%;
}
@media screen and (max-width: 570px){
    .background {
        margin-left: 15%;
        margin-right: 15%;
    }
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.1em;
    }
}